<style>
.headDiv{
        text-align: center;
    /* vertical-align: middle; */
    font-size: 21px;
    color: darkslategrey;
    background: darkkhaki;
    padding: 7px;
}
.box-center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}    
form {
  border: 3px solid #f1f1f1;
}
input[type=text], input[type=password] {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
.button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}   
</style>

<div class="headDiv">
    <b>User Login</b>
</div>
<div class="container box-center">
        <div class="row">
            <form  name="loginForm" role="form">
                <div class="container">
                  <label for="uname"><b>Username</b></label><br>
                  <input type="text" name="username"  ng-model="username"  placeholder="User Name" maxlength="100" ng-required="true">

                </div>
                <div class="container">  
                  <label for="psw"><b>Password</b></label><br>
                  <input type="password" name="password"  ng-model="password" placeholder="Password" maxlength="100" ng-required="true">
              
                </div>
                <div class="container">
                 <input type="submit" name="submit" class="button"  value="Sign in" ng-disabled="loginForm.$invalid" ng-click="submitLoginForm(loginForm)">   
                  <span><input type="submit" name="submit" class="button"  value="Sign UP" ng-disabled="loginForm.$invalid" ng-click="register()">   </span><br>
                </div>               
              </form>
        </div>
    </div>
